@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

body {
  background-color: black; }

.contenedor {
  margin: 50px auto 50px auto;
  width: 350px;
  padding: 5px;
  background-color: black; }
  .contenedor h1 {
    font-size: 18px; }
  .contenedor a {
    text-decoration: none;
    color: white; }

.contenedor-boton {
  margin: 20px;
  text-align: center; }
  .contenedor-boton p {
    color: white;
    margin: 15px; }

.imagen {
  width: 100%; }

.contenedor-imagen {
  border: 1px solid white;
  height: 200px;
  margin: 30px 0 20px 0;
  overflow: hidden; }

.imagen-btn {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(../imagenes/fondo-hamburguesa.png);
  background-size: cover;
  transition: 0.50s;
  overflow: hidden; }
  .imagen-btn:hover {
    transform: scale(1.5);
    transition: 0.50s; }

.info-carta {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .info-carta p {
    margin: 10px; }
  .info-carta .btn {
    margin: 20px auto 20px auto;
    padding: 1px 2.5px;
    width: 13em;
    height: 50px;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px; }
    .info-carta .btn span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0.4em;
      width: 8.25em;
      height: 2.5em;
      background-color: #000000;
      border-radius: 0.2em;
      font-size: 1.5em;
      color: #fff;
      border: 0.08em solid #fff;
      box-shadow: 0 0.4em 0.1em 0.019em #fff; }
    .info-carta .btn span:hover {
      transition: all 0.5s;
      transform: translate(0, 0.4em);
      box-shadow: 0 0 0 0 #fff;
      cursor: pointer; }
    .info-carta .btn span:not(hover) {
      transition: all 1s; }

button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #e6dbdb;
  outline: none; }
  button:hover {
    cursor: pointer; }

.boton {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 2px solid #d6c8c8;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;
  background: #000000;
  color: #d8cccc;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease; }
  button:hover .boton {
    transform: translateY(-0.33em);
    cursor: pointer; }
  button:active .boton {
    transform: translateY(0); }

.tamaño-titulo {
  color: white;
  font-size: 20px; }

.btn-emergente {
  padding: 10px;
  margin: 15px;
  border: 1px solid black; }
  .btn-emergente:hover {
    border: 1px solid white;
    background-color: black;
    color: white; }

.descripcion {
  font-size: 12px;
  padding: 10px;
  margin: 10px; }

.contenedorCarrito {
  background-color: black;
  color: white;
  border: 1px solid #1d1d1d; }
  .contenedorCarrito input {
    padding: 5px;
    margin: 10px; }

.verde {
  color: green; }

.cambiarTema {
  background-color: #471717; }
  .cambiarTema .contenedor {
    background-color: #471717; }
  .cambiarTema div, .cambiarTema h2, .cambiarTema strong, .cambiarTema h1, .cambiarTema h3, .cambiarTema b, .cambiarTema a {
    color: #cecece; }
  .cambiarTema .contenedorBurger {
    background-color: #1d0707; }
  .cambiarTema #botonMostrar {
    background-color: #1d0707; }
  .cambiarTema .solcito {
    color: #d9dd00; }
  .cambiarTema .contenedorCarrito {
    background-color: #1d0707;
    color: white;
    border: 1px solid black; }
    .cambiarTema .contenedorCarrito h1, .cambiarTema .contenedorCarrito h5, .cambiarTema .contenedorCarrito p {
      color: #e9dbdb; }
    .cambiarTema .contenedorCarrito input {
      padding: 5px;
      margin: 10px; }

#tema {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: transparent;
  height: 75px;
  position: fixed;
  right: 10px;
  top: 10px;
  outline: none; }
