@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #0c0505; }

.cambiarTema {
  background-color: #f9ae41; }
  .cambiarTema nav {
    background-color: #f9ae41; }
  .cambiarTema .listaMenus {
    color: #ffe4af; }
  .cambiarTema .contenedor {
    background-color: #f9ae41; }
  .cambiarTema div, .cambiarTema h2, .cambiarTema strong, .cambiarTema h1, .cambiarTema h3, .cambiarTema b, .cambiarTema a {
    color: #cecece; }
  .cambiarTema .contenedorBurger {
    background-color: #be8200; }
  .cambiarTema #botonMostrar {
    background-color: #be8200; }
  .cambiarTema .solcito {
    color: #d9dd00; }
  .cambiarTema .contenedorCarrito {
    background-color: #be8200;
    color: white;
    border: 1px solid black; }
    .cambiarTema .contenedorCarrito h1, .cambiarTema .contenedorCarrito h5, .cambiarTema .contenedorCarrito p {
      color: #e9dbdb; }
    .cambiarTema .contenedorCarrito input {
      padding: 5px;
      margin: 10px; }

#tema {
  font-size: 25px;
  color: white;
  background-color: transparent;
  height: 30px;
  position: fixed;
  right: 10px;
  top: 10px;
  outline: none;
  border: none;
  z-index: 1000; }

.solcito {
  color: yellow; }

.nav {
  background-color: #0c0505;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%; }

.listaMenus {
  display: flex;
  list-style-type: none;
  padding: 5px;
  justify-content: center;
  color: wheat;
  border-bottom: 2px solid wheat; }
  .listaMenus li {
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px 0 5px; }
  .listaMenus a {
    text-decoration: none;
    color: wheat; }
  .listaMenus li:hover, .listaMenus a:hover {
    color: #f5c162;
    cursor: pointer; }

.contenedorImagenPrincipal {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center; }

.imagenPrincipal {
  width: 25%;
  z-index: 10;
  margin-top: 50px; }

.carrusel {
  padding: 0; }

.carruselItems {
  display: flex;
  overflow: hidden;
  padding: 20px 0 50px 0; }

.carruselItem {
  min-width: 300px;
  max-width: 300px;
  height: 200px; }
  .carruselItem img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .carruselItem:hover {
    transform: scale(1.5); }

.titulo {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: #ffe4af; }

.contenedorCartaMenu {
  display: flex;
  justify-content: center; }

.cartaMenu {
  width: 90%; }

.footer {
  font-size: 15px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  color: wheat;
  text-align: center; }
  .footer .contacto {
    display: flex;
    align-items: center;
    margin: auto; }
    .footer .contacto i {
      font-size: 30px;
      margin: 5px 15px 5px 15px; }
  .footer .derechos {
    margin: auto;
    font-size: 15px; }

.botonVentana {
  color: black;
  background-color: white; }

.contenedor {
  margin: 50px auto 50px auto;
  width: 350px;
  padding: 5px;
  background-color: #0c0505; }
  .contenedor h1 {
    font-size: 18px; }
  .contenedor a {
    text-decoration: none;
    color: white; }

.contenedor-boton {
  margin: 20px;
  text-align: center; }
  .contenedor-boton p {
    color: white;
    margin: 15px; }

.logoBurger {
  width: 100%; }

.contenedor-imagen {
  border: 1px solid white;
  height: 200px;
  margin: 30px 0 20px 0;
  overflow: hidden; }

.imagen-btn {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(../imagenes/fondo-hamburguesa.png);
  background-size: cover;
  transition: 0.50s;
  overflow: hidden; }
  .imagen-btn:hover {
    transform: scale(1.5);
    transition: 0.50s; }

.info-carta {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .info-carta p {
    margin: 10px; }
  .info-carta .btn {
    margin: 20px auto 20px auto;
    padding: 1px 2.5px;
    width: 13em;
    height: 50px;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px; }
    .info-carta .btn span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0.4em;
      width: 8.25em;
      height: 2.5em;
      background-color: #000000;
      border-radius: 0.2em;
      font-size: 1.5em;
      color: #fff;
      border: 0.08em solid #fff;
      box-shadow: 0 0.4em 0.1em 0.019em #fff; }
    .info-carta .btn span:hover {
      transition: all 0.5s;
      transform: translate(0, 0.4em);
      box-shadow: 0 0 0 0 #fff;
      cursor: pointer; }
    .info-carta .btn span:not(hover) {
      transition: all 1s; }

button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #e6dbdb;
  outline: none; }
  button:hover {
    cursor: pointer; }

.boton {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 2px solid #d6c8c8;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;
  background: #000000;
  color: #d8cccc;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease; }
  button:hover .boton {
    transform: translateY(-0.33em);
    cursor: pointer; }
  button:active .boton {
    transform: translateY(0); }

.tamaño-titulo {
  color: white;
  font-size: 20px; }

.btn-emergente {
  padding: 10px;
  margin: 15px;
  border: 1px solid black; }
  .btn-emergente:hover {
    border: 1px solid white;
    background-color: black;
    color: white; }

.descripcion {
  font-size: 12px;
  padding: 10px;
  margin: 10px; }

.contenedorCarrito {
  background-color: black;
  color: white;
  border: 1px solid #1d1d1d; }
  .contenedorCarrito input {
    padding: 5px;
    margin: 10px; }

.verde {
  color: green; }
