* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
  background-color: rgb(0, 0, 0);
  //background-image: url(../imagenes/fondociudad.png);   
}

.contenedor {
    margin: 50px auto 50px auto;
    width: 350px;
    padding: 5px;
    background-color: black;
        h1 {
            font-size: 18px;
        }

        a {
            text-decoration: none;
            color: white;
        }
}

.contenedor-boton {
    margin: 20px;
    text-align: center;
        p {
            color: white;
            margin: 15px;
        }
}

.imagen {
    width: 100%;
}

.contenedor-imagen {
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  margin: 30px 0 20px 0;
  overflow: hidden;
}


.imagen-btn {
      border: 1px solid white;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: url(../imagenes/fondo-hamburguesa.png);
      background-size: cover;
      transition: 0.50s;
      overflow: hidden;
        &:hover {
          transform: scale(1.5);
          transition: 0.50s;
        }     
}


.info-carta {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        margin: 10px;
    }
    .btn {
        margin: 20px auto 20px auto;
        padding: 1px 2.5px;
        width: 13em;
        height: 50px;
        background-color: #212121;
        border: 0.08em solid #fff;
        border-radius: 0.3em;
        font-size: 12px;
        & span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 0.4em;
          width: 8.25em;
          height: 2.5em;
          background-color: #000000;
          border-radius: 0.2em;
          font-size: 1.5em;
          color: #fff;
          border: 0.08em solid #fff;
          box-shadow: 0 0.4em 0.1em 0.019em #fff;
        }
        & span:hover {
          transition: all 0.5s;
          transform: translate(0, 0.4em);
          box-shadow: 0 0 0 0 #fff;
          cursor: pointer;
        }
        
        & span:not(hover) {
          transition: all 1s;
        }
      }
}

button {
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: 0.75em;
   background:  #e6dbdb;
   outline: none;  
    &:hover {
      cursor: pointer;
    }
  }
  
.boton {
   width: 100%;
   display: block;
   box-sizing: border-box;
   border: 2px solid #d6c8c8;
   border-radius:  0.75em;
   padding: 0.75em 1.5em;
   background:  #000000;
   color: #d8cccc;
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;

    button:hover & {
        transform: translateY(-0.33em);
        cursor: pointer;
    }
    
    button:active & {
        transform: translateY(0);
    }
  }


.tamaño-titulo {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }


.btn-emergente {
  padding: 10px;
  margin: 15px;
  border: 1px solid black;
    &:hover {
      border: 1px solid white;
      background-color: black;
      color: white;
    }
}

.descripcion {
  font-size: 12px;
  padding: 10px;
  margin: 10px;

}

.contenedorCarrito {
  background-color: black;
  color: white;
  border: 1px solid rgb(29, 29, 29);
    & input {
      padding: 5px;
      margin: 10px;
    }
}

.verde {
  color: green;
}

.cambiarTema {
  background-color: rgb(71, 23, 23);
    & .contenedor {
      background-color: rgb(71, 23, 23);
        } 
      div, h2, strong, h1, h3, b, a {
          color: rgb(206, 206, 206);
      }
      & .contenedorBurger {
        background-color: rgb(29, 7, 7);
      }
      #botonMostrar {
        background-color: rgb(29, 7, 7)
      }
      & .solcito {
        color: rgb(217, 221, 0);
      }
      & .contenedorCarrito {
        background-color: rgb(29, 7, 7);
        color: white;
        border: 1px solid rgb(0, 0, 0);
          & h1, h5, p {
            color: rgb(233, 219, 219);
          }
          & input {
            padding: 5px;
            margin: 10px;
          }
      }
}

//boton para cambiar de tema
#tema { 
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  height: 75px;
  position: fixed;
  right: 10px;
  top: 10px;
  outline: none;
}
